SUM, COUNT and AVERAGE
IF Statements
SUMIF, COUNTIF and AVERAGEIF
VLOOKUP
CONCATENATE
MAX and MIN
AND
PROPER
CONDITIONAL FORMATING
INDEX and MATCH

In [1]:
import pandas as pd
heroes = pd.read_csv("C:\\Users\\paulc\\OneDrive\\Documents\\heroes_information_condensed.csv")

In [2]:
print(heroes.head(15))

    Unnamed: 0               name  Gender Eye color     Hair color  Height  \
0            1  Alfred Pennyworth    Male      blue          Black     178
1            2            Ant-Man    Male      blue          Blond     211
2            3            Batgirl  Female     green            Red     170
3            4             Batman    Male      blue          black     188
4            5        Black Widow  Female     green         Auburn     170
5            6    Captain America    Male      blue          blond     188
6            7            Cyclops    Male     brown          Brown     191
7            8        Darth Vader    Male    yellow        No Hair     198
8            9           Deadpool    Male     brown        No Hair     188
9           10           Deadshot    Male     brown          Brown     185
10          11        Doctor Doom    Male     brown          Brown     201
11          12     Doctor Octopus    Male     brown          Brown     175
12          13              Flash    Male      blue  Brown / White     180
13          14      Gorilla Grodd    Male    yellow          Black     198
14          15       Green Goblin    Male      blue         Auburn     180

   Alignment  Weight
0       good      72
1       good     122
2       good      57
3       good      95
4       good      59
5       good     108
6       good      88
7        bad     135
8    neutral      95
9        bad      91
10       bad     187
11       bad     110
12      good      81
13       bad     270
14       bad      83

In [3]:
heroes.columns

Index(['Unnamed: 0', 'name', 'Gender', 'Eye color', 'Hair color', 'Height',
       'Alignment', 'Weight'],
      dtype='object')

In [4]:
heroes['Height'].sum()

7236

In [5]:
heroes['Height'].count()

36

In [6]:
heroes['Height'].mean()

201.0

In [7]:
heroes.loc[heroes.Height > heroes['Height'].mean(), 'compared to average height'] = 'Above average height'
heroes.loc[heroes.Height < heroes['Height'].mean(), 'compared to average height'] = 'Below average height'
heroes.loc[heroes.Height == heroes['Height'].mean(), 'compared to average height'] = 'Average height'
print(heroes.head(15))

    Unnamed: 0               name  Gender Eye color     Hair color  Height  \
0            1  Alfred Pennyworth    Male      blue          Black     178
1            2            Ant-Man    Male      blue          Blond     211
2            3            Batgirl  Female     green            Red     170
3            4             Batman    Male      blue          black     188
4            5        Black Widow  Female     green         Auburn     170
5            6    Captain America    Male      blue          blond     188
6            7            Cyclops    Male     brown          Brown     191
7            8        Darth Vader    Male    yellow        No Hair     198
8            9           Deadpool    Male     brown        No Hair     188
9           10           Deadshot    Male     brown          Brown     185
10          11        Doctor Doom    Male     brown          Brown     201
11          12     Doctor Octopus    Male     brown          Brown     175
12          13              Flash    Male      blue  Brown / White     180
13          14      Gorilla Grodd    Male    yellow          Black     198
14          15       Green Goblin    Male      blue         Auburn     180

   Alignment  Weight compared to average height
0       good      72       Below average height
1       good     122       Above average height
2       good      57       Below average height
3       good      95       Below average height
4       good      59       Below average height
5       good     108       Below average height
6       good      88       Below average height
7        bad     135       Below average height
8    neutral      95       Below average height
9        bad      91       Below average height
10       bad     187             Average height
11       bad     110       Below average height
12      good      81       Below average height
13       bad     270       Below average height
14       bad      83       Below average height

In [8]:
heroes.groupby('Alignment')['Height'].sum()

Alignment
bad        3100
good       3948
neutral     188
Name: Height, dtype: int64

In [9]:
heroes.groupby('Alignment')['Height'].count()

Alignment
bad        16
good       19
neutral     1
Name: Height, dtype: int64

In [10]:
heroes.groupby('Alignment')['Height'].mean()

Alignment
bad        193.750000
good       207.789474
neutral    188.000000
Name: Height, dtype: float64

In [11]:
heroes.loc[heroes.Alignment == 'good', 'Height'].sum()

3948

In [12]:
heroes.loc[heroes.Alignment == 'good', 'Height'].count()

19

In [13]:
heroes.loc[heroes.Alignment == 'good', 'Height'].mean()

207.78947368421052

In [14]:
heroes2_list = ('Nightcrawler', 'Superman', 'Thor', 'Killer Croc', 'Supergirl')
heroes2 = pd.DataFrame(columns = ['name'])
heroes2['name'] = heroes2_list

In [15]:
print(heroes2)

           name
0  Nightcrawler
1      Superman
2          Thor
3   Killer Croc
4     Supergirl

In [16]:
pd.merge(heroes, heroes2)

,Unnamed: 0,name,Gender,Eye color,Hair color,Height,Alignment,Weight,compared to average height
0,20,Killer Croc,Male,red,No Hair,244,bad,356,Above average height
1,23,Nightcrawler,Male,yellow,Indigo,175,good,88,Below average height
2,31,Supergirl,Female,blue,Blond,165,good,54,Below average height
3,32,Superman,Male,blue,Black,191,good,101,Below average height
4,33,Thor,Male,blue,Blond,198,good,288,Below average height

In [17]:
heroes['summarised'] = heroes['name'] + ' has ' + heroes['Eye color'] + ' color eyes and ' + heroes['Hair color'] + ' hair'

In [18]:
print(heroes['summarised'])

0     Alfred Pennyworth has blue color eyes and Blac...
1            Ant-Man has blue color eyes and Blond hair
2             Batgirl has green color eyes and Red hair
3             Batman has blue color eyes and black hair
4      Black Widow has green color eyes and Auburn hair
5     Captain America has blue color eyes and blond ...
6           Cyclops has brown color eyes and Brown hair
7     Darth Vader has yellow color eyes and No Hair ...
8        Deadpool has brown color eyes and No Hair hair
9          Deadshot has brown color eyes and Brown hair
10      Doctor Doom has brown color eyes and Brown hair
11    Doctor Octopus has brown color eyes and Brown ...
12     Flash has blue color eyes and Brown / White hair
13    Gorilla Grodd has yellow color eyes and Black ...
14     Green Goblin has blue color eyes and Auburn hair
15               Groot has yellow color eyes and - hair
16           Hawkeye has blue color eyes and Blond hair
17          Iron Man has blue color eyes and Black hair
18            Joker has green color eyes and Green hair
19      Killer Croc has red color eyes and No Hair hair
20         Kingpin has blue color eyes and No Hair hair
21     Lex Luthor has green color eyes and No Hair hair
22    Nightcrawler has yellow color eyes and Indigo ...
23         Poison Ivy has green color eyes and Red hair
24              Pyro has blue color eyes and Blond hair
25      Ra's Al Ghul has green color eyes and Grey hair
26             Robin has blue color eyes and Black hair
27    Rocket Raccoon has brown color eyes and Brown ...
28       Sabretooth has amber color eyes and Blond hair
29       Spider-Girl has blue color eyes and Brown hair
30         Supergirl has blue color eyes and Blond hair
31          Superman has blue color eyes and Black hair
32              Thor has blue color eyes and Blond hair
33                 Ultron has red color eyes and - hair
34    Venom has blue color eyes and Strawberry Blond...
35      Wonder Woman has blue color eyes and Black hair
Name: summarised, dtype: object

In [19]:
heroes['Height'].max()

701

In [20]:
heroes['Height'].min()

122

In [21]:
heroes['summarised'] = heroes['summarised'].str.title()
print(heroes['summarised'])

0     Alfred Pennyworth Has Blue Color Eyes And Blac...
1            Ant-Man Has Blue Color Eyes And Blond Hair
2             Batgirl Has Green Color Eyes And Red Hair
3             Batman Has Blue Color Eyes And Black Hair
4      Black Widow Has Green Color Eyes And Auburn Hair
5     Captain America Has Blue Color Eyes And Blond ...
6           Cyclops Has Brown Color Eyes And Brown Hair
7     Darth Vader Has Yellow Color Eyes And No Hair ...
8        Deadpool Has Brown Color Eyes And No Hair Hair
9          Deadshot Has Brown Color Eyes And Brown Hair
10      Doctor Doom Has Brown Color Eyes And Brown Hair
11    Doctor Octopus Has Brown Color Eyes And Brown ...
12     Flash Has Blue Color Eyes And Brown / White Hair
13    Gorilla Grodd Has Yellow Color Eyes And Black ...
14     Green Goblin Has Blue Color Eyes And Auburn Hair
15               Groot Has Yellow Color Eyes And - Hair
16           Hawkeye Has Blue Color Eyes And Blond Hair
17          Iron Man Has Blue Color Eyes And Black Hair
18            Joker Has Green Color Eyes And Green Hair
19      Killer Croc Has Red Color Eyes And No Hair Hair
20         Kingpin Has Blue Color Eyes And No Hair Hair
21     Lex Luthor Has Green Color Eyes And No Hair Hair
22    Nightcrawler Has Yellow Color Eyes And Indigo ...
23         Poison Ivy Has Green Color Eyes And Red Hair
24              Pyro Has Blue Color Eyes And Blond Hair
25      Ra'S Al Ghul Has Green Color Eyes And Grey Hair
26             Robin Has Blue Color Eyes And Black Hair
27    Rocket Raccoon Has Brown Color Eyes And Brown ...
28       Sabretooth Has Amber Color Eyes And Blond Hair
29       Spider-Girl Has Blue Color Eyes And Brown Hair
30         Supergirl Has Blue Color Eyes And Blond Hair
31          Superman Has Blue Color Eyes And Black Hair
32              Thor Has Blue Color Eyes And Blond Hair
33                 Ultron Has Red Color Eyes And - Hair
34    Venom Has Blue Color Eyes And Strawberry Blond...
35      Wonder Woman Has Blue Color Eyes And Black Hair
Name: summarised, dtype: object

In [22]:
def color_negative_red(value):

  if value == 'bad':
    color = 'red'
  elif value == 'good':
    color = 'green'
  else:
    color = 'black'

  return 'color: %s' % color

heroes.style.applymap(color_negative_red, subset=['Alignment'])

In [23]:
import numpy as np
pd.pivot_table(heroes, index = ['Alignment'], columns = ['Gender'], values = ['Height', 'Weight'], aggfunc = np.mean)

          Height             Weight
Gender    Female        Male Female        Male
Alignment
bad        168.0  195.466667   50.0  160.000000
good       171.6  220.714286   59.6  103.285714
neutral      NaN  188.000000    NaN   95.000000

In [24]:
print(heroes.at[heroes.loc[heroes['name'] == 'Batman'].index[0],'Height'])

188